{
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 4],
        "semi": [
            2,
            "always"
        ],
        "react/jsx-uses-react": 1
    },
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true,
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "global": false,
        "__REPORTING_CSS_NS": false,
        "bronto": false
    }
}
